.aboutus-link-pro__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-color: white;
  border-radius: 0.625rem;
  //box-shadow: 0 4px 0.625rem rgba(0, 0, 0, 0.1);
}

.aboutus-link-pro__left {
  width: 45%;
  padding: 0 12rem 0 0;
}

.aboutus-link-pro__heading {
  font-size: 2rem;
  color: #08378f;
  margin-bottom: 1.25rem;
  text-align: left;
}

.aboutus-link-pro__description {
  font-size: 1rem;
  color: black;
  line-height: 1.6;
  margin-bottom: 0.938rem;
  text-align: left;
}

.aboutus-link-pro__right {
  //flex: 1;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.aboutus-link-pro__image {
  height: auto;
  border-radius: 0.625rem;
}

@media (max-width: 768px) {
  .aboutus-link-pro__content {
    width: auto;
    margin: 0;
    padding: 1rem;
    flex-direction: column;
    gap: 2rem;
    .aboutus-link-pro__left {
      display: flex;
      width: 100%;
      padding: 0.1rem;
      flex-wrap: wrap;
      justify-content: center;
      .aboutus-link-pro__heading,
      .aboutus-link-pro__description {
        margin: 0.3rem;
        padding: 0;
        
      }
      .aboutus-link-pro__heading{
        font-size: 1.2rem;
      }
    }
    .aboutus-link-pro__right {
      .aboutus-link-pro__image{
        width: 18rem;
        padding: 1rem;
        max-width: 30rem;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .aboutus-link-pro__content {
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;

    .aboutus-link-pro__left {
      width: 100%;
      padding: 0 2rem;
      text-align: center;

      .aboutus-link-pro__heading {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      .aboutus-link-pro__description {
        font-size: 1rem;
        margin-bottom: 0.8rem;
      }
    }

    .aboutus-link-pro__right {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .aboutus-link-pro__image {
        width: 25rem; // Slightly larger than mobile
        max-width: 100%;
        height: auto;
        padding: 1rem;
      }
    }
  }
}
