.about-us-container {
  text-align: center;
  padding: 2.5rem 1.25rem;
  background-color: white;
}

.section-header {
  margin-bottom: 2.5rem;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section-subtitle {
  font-size: 2rem;
  font-weight: 700;
  color: #08378F;
  margin-top: 0.625rem;
}

.boxes-container {
  display: flex;
  flex-wrap: wrap;  /* Allows the items to wrap when necessary */
  justify-content: center;
  gap: 2.25rem;
}

.box {
  background-color: white;
  display: flex;
  align-items: flex-start;
  gap: 0.938rem;
  padding: 1.25rem;
  width: 19rem;
  height: auto;
  border-radius: 0.5rem;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon {
  width: 0.625rem;
  height: 0.625rem;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
}

.box h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: black;
}

.box p {
  font-size: 1rem;
  color: black;
  margin-top: 0.625rem;
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .about-us-container {
    padding: 1rem;
    .section-header {
      margin: 0;
      p{
        font-size: 1.2rem;
        margin: 0;
      }
      h2 {
        font-size: 1.2rem;
      }
    }
    .boxes-container {
      flex-direction: column-reverse;

      width: 100%;
      gap: 0.5rem;
      .box {
        height: auto;
        width: 100%;
        gap: 0.2rem;
        padding:0.5rem 0;
        .content {
          h3, p {
            margin: 0;
          }
          h3 {
            font-size: 0.9rem;
          }
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
