.about-our-values-container {
  display: flex;
  justify-content: space-evenly;
  //align-items: center;
  padding: 3rem 0rem;
  gap: 2.5rem;
  flex-wrap: wrap;
  background-color: #f6f9ff;
  //border: 1px solid black;
}

.left-div {
  width: 40%;
  text-align: left;
}

.values-heading {
  font-size: 2rem;
  font-weight: 700;
  color: #08378f;
  margin-bottom: 0;
}

.values-description {
  font-size: 1.125rem;
  color: black;
  margin-bottom: 0;
  line-height: 1.6;
}

.value-point {
  span {
    font-weight: bold;
  }
  font-size: 1.1rem;
  color: black;
  margin: 0.625rem 0;
  font-weight: 400;
  text-decoration: none;
}

.right-div {
  max-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.values-image {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  //box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 480px) {
  .about-our-values-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
    margin: 1rem;
    .left-div {
      width: 100%;
      h2,
      p,
      ul {
        // font-size: 1rem;
        margin: 0;
      }
      h2{
        font-size: 2rem;
      }
      .value-point {
        font-size: 1rem;
      }
    }
    .right-div {
      max-width: 60%;
    }
  }
}
