.aboutus-banner {
  background: url("./images/Vector.png"), url("./images/Vector22.png"),
    url("./images/Vector3.png"), url("./images/Vector4.png"),
    url("./images/vector55.png");

  background-position: bottom right, bottom center, top center, left bottom,
    left bottom;
  background-size: auto 100%, auto 100%, auto 35%, auto 100%, auto 100%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18.75rem; 
  background-color: #08378f; 
  position: relative;
  text-align: center;
}

.aboutus-banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutus-banner__title {
  font-size: 3rem;
  color: white;
  margin-bottom: 1.25rem;
}

.aboutus-banner__link {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.aboutus-banner__link:hover {
  color: #f24e1e; 
}



.aboutus-banner__arrow {
  margin: 0.625rem;
  color: #f24e1e; 
  font-size: 1.8rem;
  transition: transform 0.3s ease;
}

.aboutus-banner__link:hover {
  transform: translatex(0.313rem); 
}
