.footer {
  background-color: #f6f9ff;
  background: url("/images/Vector2.png"), url("/images/Rectangle10.png"),
    url("/images/Vector1.png");

  background-position: top right, top right, bottom left;
  background-size: 25% 55%, 70% 110%, 20% 40%;

  background-repeat: no-repeat, no-repeat, no-repeat;

  color: black;
  padding: 2.5rem 1.25rem;
  text-align: center;

  &__logo img {
    width: auto;
    height: 4vw;
  }

  &__description {
    margin-bottom: 1.875rem;
    font-size: 0.875rem;
    max-width: 37.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__links {
    display: flex;
    justify-content: space-evenly;
    gap: 2.5rem;
    flex-wrap: wrap;

    .footer__links-column {
      h4 {
        text-align: left;
        font-size: 1.125rem;
        margin-bottom: 0.938rem;
        text-transform: uppercase;
        font-weight: bold;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          text-align: left;
          margin: 0.625rem 0;
          display: flex;
          align-items: flex-start;

          a {
            color: black;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
              color: #f5a623;
            }
          }
        }
      }
    }

    .footer__subscribe {
      h4 {
        text-align: left;
        font-size: 1.125rem;
        margin-bottom: 0.938rem;
        text-transform: uppercase;
        font-weight: bold;
      }
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 1.2rem;
        justify-content: center;
        li{
          a{
            color: black;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
              color: #f5a623;
            }
          }
        }
      }

      .footer__subscribe-form {
        display: flex;
        gap: 0.625rem;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        .footer__subscribe-input {
          padding: 0.5rem;
          font-size: 0.875rem;
          width: 12.5rem;
          border: none;
          border-radius: 0.25rem;
        }

        .footer__subscribe-btn {
          padding: 0.5rem 0.938rem;
          font-size: 0.875rem;
          background-color: #f5a623;
          color: black;
          border: none;
          border-radius: 0.25rem;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #d88a1e;
          }
        }
      }
    }
  }
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .footer {
    padding: 1rem;
    .footer__logo {
      img {
        width: auto;
        height: 3rem;
      }
    }
    .footer__description {
      margin: 0.5rem;
      p {
        margin: 0;
        font-size: 0.8rem;
      }
    }
    .footer__links {
      display: flex;
      justify-content: space-around;
      gap: 0;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      .footer__links-column {
        h4 {
          font-size: 1rem;
        }
        ul {
          li {
            font-size: 0.8rem;
          }
        }
      }
      .footer__subscribe {
        h4 {
          margin: 0;
        }
        ul {
          align-items: left;
          justify-content: left;
          
        }
        .footer__subscribe-form {
          display: flex;
          gap: 0.5rem;
          flex-direction: row;

          .footer__subscribe-input {
            width: 70%;
            font-size: 0.8rem;
          }
          .footer__subscribe-btn {
            padding: 0.5rem 0.938rem;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  .copyright p {
    font-size: 0.8rem;
  }
}
