@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.no-scroll {
  overflow: hidden;
}
.header-default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem 3rem;
  position: relative;
  flex-wrap: wrap;
  z-index: 10;
}

.header-default__logo img {
  width: auto;
  height: 4rem;
}

.header-default__nav ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-default__nav a {
  text-decoration: none;
  color: #08378f;
  font-weight: bold;
  transition: color 0.3s ease;
}

.header-default__nav a:hover {
  color: #f24e1e;
}

.header-default__contact button {
  background-color: #08378f;
  color: white;
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.313rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  a {
    color: white;
    text-decoration: none;
  }
}

.header-default__contact button:hover {
  background-color: #f24e1e;
}

.hamburger_default,
.hamburger_default-close {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.hamburger_default .line,
.hamburger_default-close .line {
  margin: auto;
  width: 2rem;
  height: 0.3rem;
  border-radius: 5px;
}
.hamburger_default .line {
  background-color: #08378f;
}
.hamburger_default-close .line {
  background-color: white;
}

@media (max-width: 480px) {
  .header-default {
    padding: 1rem;
    justify-content: space-between;
  }

  .header-default__nav {
    display: none;
  }

  .hamburger_default {
    display: flex;
  }

  .header-default__nav.active {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #08378f;
    width: 50%;
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    ul {
      li {
        a {
          color: white;
        }
      }
    }
  }

  .header-default__nav ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .header-default__logo img {
    width: auto;
    height: 3rem;
  }

  .header-default__contact a {
    width: 1rem;
    height: auto;
  }

  .hamburger_default-close {
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;
    cursor: pointer;
  }
  .hamburger_default-close .line {
    background-color: white;
  }
}
