.no-scroll {
  overflow: hidden;
}

.header {
  // background: url("/images/Group98.png"), url("/images/Ellipse6.png"),
  //   url("/images/Ellipse6.png"), url("/images/Ellipse7.png"),
  //   url("/images/Ellipse8.png"), url("/images/Ellipse12.png"),
  //   url("/images/Ellipse13.png"), url("/images/Ellipse11.png"),
  //   url("/images/Vector5.png"), url("/images/Group33.png"),
  //   url("/images/Ellipse5.png");
  // background-position: 28% 100%, 58% 70%, 12% 95%, 10% 87%, 0% 35%, 3% 42%,
  //   5% 35%, 3% 31%, bottom left, top right, 26% 0%;
  // background-size: auto 70%, auto 8%, auto 8%, auto 5%, auto 100%, auto 5%,
  //   auto 3%, auto 3%, 100% 100%, auto 45%, auto 8%;
  // background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
  //   no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;

    background: url("/images/Frame.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #08378f;
  position: relative;
  flex-wrap: wrap;
}

.header__logo img {
  width: auto;
  height: 4rem;
}

.header__nav ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.header__nav a:hover {
  color: #f24e1e;
}

.header__contact button {
  background-color: white;
  color: black;
  border: none;
  padding: 0.6rem 1.25rem;
  border-radius: 0.313rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header__contact button:hover {
  background-color: #f24e1e;
}

.header__info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 4rem 5rem 4rem;
}

.header__info-left {
  flex: 1;
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-size: 130%;
}

.header__info-left h3 {
  color: #ff7e0d;
}

.header__info-left h1,
.header__info-left h5 {
  color: white;
}

.header__info-left h2,
.header__info-left h1 {
  margin: 0.625rem 0;
}

.header__info-btn {
  background-color: #093890;
  color: white;
  border: none;
  border: 0.063rem solid white;
  border-radius: 0.4rem;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header__info-btn:hover {
  background-color: #f24e1e;
}

.header__info-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header__circle-img {
  width: 21vw;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.hamburger,
.hamburger-close {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.hamburger .bar1,
.hamburger .bar2,
.hamburger .bar3,
.hamburger-close .bar1,
.hamburger-close .bar2,
.hamburger-close .bar3 {
  margin: auto;
  width: 30px;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 0.55rem) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -0.55rem) rotate(45deg);
}

@media (max-width: 480px) {
  .header {
    padding: 1rem;
    justify-content: space-between;
    position: relative;
    background-size: auto;
  }
  .header__info{
    margin: 0;
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #08378f;
    width: 50%;
    height: 100vh;
    padding: 2rem;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .header__info-left {
    font-size: 85%;
  }

  .hamburger {
    display: flex;
  }

  .header__nav.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }

  .header__nav ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .header__logo img {
    width: auto;
    height: 3rem;
  }

  .header__contact a {
    width: 1rem;
    height: auto;
  }

  .header__circle-img {
    width: 11rem;
    height: auto;
  }

  .hamburger-close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;
    cursor: pointer;
  }
}
