.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  h1{
  text-align: center;

  }
}

.heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #08378f;
  display: flex;
}

.description {
  text-align: left;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: black;
  width: 80%;
}

@media (max-width: 480px) {
  .services-container {
    padding: 1rem;
    .heading{
      margin: 0;
      font-size: 1.4rem;
    }
    .description{
      width: 100%;
      font-size: 0.8rem;
      margin: 0.5rem;
    }
  }
}
