.Disclaimer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Disclaimer_heading {
  text-align: left;
  width: 55%;
  flex-direction: column;
  align-items: center;
  h,h1,h2,h3,h4{
    color: #08378F;
    
  }
  a{
   display: flex;
   text-decoration: none;
  }
  
}
.text-decoration-none {
  text-decoration: none !important;
}
.d-block {
  display: block !important;
}

@media (max-width: 480px) {
  .Disclaimer_heading {
    width: 90%;
  }
}