.privacy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.privacy_heading {
  text-align: left;
  width: 90%;
  flex-direction: column;
  align-items: center; 
  h,h1,h2,h3,h4{
    color: #08378F;
    
  }
}

