.uncover-latest-blog {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4rem;
  background-color: white;

  .left-side {
    flex: 1;
    //display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //text-align: center;
    margin-left: 10rem;

    h2 {
      margin: 0;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 0.938rem;
      color: #08378f;
    }

    .description {
      margin: 0.625rem 0;
      font-size: 1rem;
      color: black;
      max-width: 31.25rem;
    }

    .read-more-btn {
      padding: 0.625rem 1.25rem;
      font-size: 1rem;
      background-color: white;
      color: black;
      border: 0.063rem solid black;
      border-radius: 0.313rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        color: white;
        background-color: #0056b3;
      }
    }
  }

  .right-side {
    flex: 0 0 40%; /* Take up 40% of the div width */
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      max-width: 25rem; /* You can adjust the max width to suit your design */
      object-fit: cover;
      border-radius: 0.5rem;
    }
  }
}

@media (max-width: 480px) {
  .uncover-latest-blog {
    padding: 1rem;
    flex-direction: column;
    .left-side {
      margin: 0;
      h2, .description{
        margin: 0;
      }
      .read-more-btn{
        margin: 1rem;
      }
    }
    .right-side {
      img{
        width: 80%;
      }
    }
  }
}
