.what-we-offer {
  text-align: center;
  padding: 3.125rem 1.25rem;
  background-color: #e1ecff66;

  .heading {
    text-align: center;
    margin-bottom: 1.875rem;
    flex-direction: column;

    h2 {
      font-size: 2rem;
      color: #08378f;
      margin: 0;
    }

    p {
      font-size: 1rem;
      color: black;
    }
  }

  .boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 3 columns for larger screens
    gap: 2rem;
    max-width: 56.25rem;
    justify-content: center;
    margin: 0 auto; // Center the grid

    .box {
      background-color: white;
      padding: 3.5rem 1rem 3rem 1rem;
      border-radius: 0.625rem;
      box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
      color: black;
      transition: background 0.4s ease, box-shadow 0.4s ease,
        transform 0.3s ease;
      cursor: pointer;
      text-align: center;
      display: flex;
      flex-direction: column; /* Stack elements vertically */
      align-items: center;

      span {
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
      }
      p {
        text-align: center;
        font-size: 1rem;
        text-align: center;
      }

      &:hover {
        background: linear-gradient(to top, #093890cc, #ffffff);
        box-shadow: 0 0.25rem 0.938rem rgba(0, 0, 0, 0.2);
        transform: translateY(-0.313rem);
        span,
        p {
          color: white;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .what-we-offer {
    padding: 1rem;
    .boxes {
      grid-template-columns: auto;
      //gap: 2rem;
      padding: 1rem;
      justify-content: center;
      .box {
        padding: 4rem 0;
        margin: 0;

        p,
        span {
          width: 85%;
          font-size: 1rem;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .what-we-offer {
    padding: 2rem;

    .boxes {
      grid-template-columns: repeat(2, 1fr); // 2 columns for tablets
      gap: 1.5rem;
      padding: 1rem;
      justify-content: center;

      .box {
        padding: 2.5rem 1rem;
        margin: 0 auto;

        span,
        p {
          width: 90%;
          font-size: 1rem;
        }
      }
    }
  }
}
