.container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; }
  
  .searchbar {
    display: flex;
    align-items: center;
    background-color: #f3f4f6;
    padding: 5px 15px;
    border-radius: 30px;
    width: 40%; 
  }
  
  .search-input {
    border: none;
    outline: none;
    padding: 8px;
    margin-left: 10px;
    flex-grow: 1;
    border-radius: 25px;
    background-color: #f3f4f6;
  }
  
  .search-icon {
    color: #aaa;
    font-size: 18px;
  }
  
  .dropdown {
   position: relative;
   cursor: pointer;
  }
  
  .dropdown-icon {
    font-size: 20px;
    color: #555;
  }
  
  .dropdown-options {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 1000;
    padding: 10px 0;
  }
  
  .dropdown-options ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-options li {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .dropdown-options li:hover {
    background-color: #f4f4f4;
  }

  .custom-hr {
    border: none;
    border-top: 1px solid black;
    margin: 5px 0;
  }
  
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
      align-items: center;
    }
  
    .searchbar, .dropdown {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  