@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
html,
body {
  width: 100%; /* Ensure the page takes up full width */
  overflow: auto;
  height: 100%; /* Make sure body takes full height */
  font-family: "Nunito", serif;
  background-color: #f9f9f9;
  scroll-behavior: smooth;
  
}
body {
  margin: 0;
}
